
Label.card-title {
    font-weight: 700;
}

Label.color-def-theme-delete-text {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5;
    margin-left: 0;
    padding-left: 0;
}

.card-title-right-button {
    padding-top: 11;
    padding-right: 5;
    padding-left: 20;
}

.card-title-left-button {
    padding-top: 11;
    padding-right: 5;
}

.data-item-row {
    margin-top: 6;
    margin-bottom: 5;
    padding-top: 3;
    padding-bottom: 3;
    padding-left: 23;
    padding-right: 23;
}


.page {
    margin-top: 25;
}



.bold-title {
    font-weight: 600;
}