@import '~nativescript-theme-core/css/core.light.css';

Label {
    margin-bottom: 10;
}

.fa {
    font-family: "FontAwesome";
    font-size: 14;
}

.content {
    background-color: orangered;
    color: white;
    font-size: 24;
}